{% extends "base.html" %}
{% block content %}
<div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">
    <div class="row">
        <div>

          <div class="card" style="width: 100%;">

            <div class="card-header mt-4 mb-4">
              <h3 class="card-title">Add your favourite foods</h3>
            </div>

            <div class="card-body">

              <form method="POST" action="{{ url_for('food') }}">
                <div class="form-group">
                  <label for="food-name">Food Name</label>
                  <input type="text" class="form-control" id="food-name" name="food-name" placeholder="Food Name">
                </div>
                <div class="form-group">
                  <label for="protein">Protein</label>
                  <input type="number" class="form-control" id="protein" name="protein" placeholder="Protein">
                </div>
                <div class="form-group">
                  <label for="carbohydrates">Carbohydrates</label>
                  <input type="number" class="form-control" id="carbohydrates" name="carbohydrates" placeholder="Carbohydrates">
                </div>
                <div class="form-group">
                  <label for="fat">Fat</label>
                  <input type="number" class="form-control" id="fat" name="fat" placeholder="Fat">
                </div>
                <button type="submit" class="btn btn-outline-success">Add</button>
              </form>

              <div class="pb-2 mt-4 mb-2 border-bottom"></div>
              <!-- create a for loop to instantiate the data -->
            {% for food in results %}
              <ul class="nav nav-pills" role="tablist">
                <li class="nav-item"><a class="nav-link active">{{ food.name }}</a></li>
                <li class="nav-item"><a class="nav-link">Protein: <span class="badge badge-primary">{{food.protein}}</span></a></li>
                <li class="nav-item"><a class="nav-link">Carbohydrates: <span class="badge badge-warning">{{food.carbohydrates}}</span></a></li>
                <li class="nav-item"><a class="nav-link">Fat: <span class="badge badge-danger">{{food.fat}}</span></a></li>
                <li class="nav-item"><a class="nav-link">Calories: <span class="badge badge-info">{{food.calories}}</span></a></li>
              </ul>
              <div class="pb-2 mt-4 mb-2 border-bottom"></div>
            {% endfor %}
            </div>

          </div>
        </div>
    </div>

</div>
{% endblock %}